HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

#archivos properties
**/application-test.properties
**/application-dev.properties
**/application.properties
**/application-prod.properties


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.env
.env.*
*.env
*.env.*

# secretos y llaves
*.secret
*.secrets
*.key
*.pem
*.p12
*.keystore


# Logs y dumps

logs/
*.log
*.sql      # por si llegamos a generar dumps locales

# Archivos de SO

.DS_Store
Thumbs.db
